<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <a href="/accommodations/new" class="btn btn-default btn-block">
      <i class="fa fa-plus"></i>
      New Accommodation
    </a>

    <a href="/restaurants/new" class="btn btn-default btn-block">
      <i class="fa fa-plus"></i>
      New Restaurant
    </a>

    <a href="/points_of_interests/new" class="btn btn-default btn-block">
      <i class="fa fa-plus"></i>
      New Point of Interest
    </a>

    <hr>
  </div>
</div>

<!--<div class="page-header">
<h1>
<a href="/photos/new" class="btn btn-lg btn-success">New Post</a>
</h1>
</div>-->

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <table class="table table-hover table-striped">
        <% @photos.each do |photo| %>
        <tr>
          <div class="panel panel-primary">
            <td><div class="panel-heading">
              <%= photo.caption %></div></td>
              <td><%= photo.user.username %></td>
              <td><%=time_ago_in_words(photo.created_at) %> ago</td>
              <div class="panel-body">
                <% if photo.restaurant.name.length != 0 %>
                <img class="img-responsive" src="<%= photo.restaurant.image %>" length="480" width="480" />
                <% end %>
                <% if photo.accommodation.name.length != 0 %>
                <img class="img-responsive" src="<%= photo.accommodation.image %>" length="480" width="480" />
                <% end %>
                <% if photo.points_of_interest.name.length != 0 %>
                <img class="img-responsive" src="<%= photo.points_of_interest.image %>" length="480" width="480" />
                <% end %>
                <p>
                  <form action="/create_like" method="post">
                    <!-- Hidden input for authenticity token to protect from forgery -->
                    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="photo_id" value="<%= photo.id %>" >
                    <% User.all.each do |u| %>
                    <% if u == current_user %>
                    <input type="hidden" name="user_id" value="<%= u.id %>" >
                    <% end %>
                    <% end %>

                    <% found = false
                    isDelete = false
                    like_user = ""
                    like_cnt = 0
                    Favorite.all.each do |fav|
                      if fav.restaurant == photo.restaurant ||
                        fav.accommodation == photo.accommodation ||
                        fav.points_of_interest == photo.points_of_interest
                        found = true
                        like_cnt += 1
                        if fav.user == current_user %>
                        <a href="/delete_like/<%= fav.id %>" class="btn btn-link">
                          <i class="fa fa-heart"></i>
                        </a>
                        <% isDelete = true
                      end
                      like_user = like_user + fav.user.username + ","
                    end
                  end

                  if found == false %>
                  <button class="btn btn-link">
                    <i class="fa fa-heart-o"></i>
                  </button>
                  <small class="text-muted">be the first to like this</small>
                  <% end

                  if isDelete == false %>
                  <button class="btn btn-link">
                    <i class="fa fa-heart-o"></i>
                  </button>
                  <% end %>
                  <% like_user = like_user.split(",")
                  like_user = like_user.to_sentence %>
                  <%= like_user %> like this
                </form>
              </p>

              <div class="col-md-12">
                <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>
                <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
                <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
              </div>
            </div>
          </div>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<!-- <%= render @photos %> -->
